/*---- NUMBER OF SLIDE CONFIGURATION ----*/
.wrapper1 {
  max-width: 60em;
  margin: 1em auto;
  position: relative;
}

.clix_slide_radio {
  display: none;
}

.inner1 {
  width: 700%;
  line-height: 0;
}

.img_clix {
  width: 14.28571%;
  float: left;
  position: relative;
}

.img_clix .slider_img {
  width: 100%;
}

/*---- SET UP CONTROL ----*/
.slider-prev-next-control {
  height: 50px;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider-prev-next-control .slider_label {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.7;
}

.slider-prev-next-control .slider_label:hover {
  opacity: 1;
}

.slider-dot-control {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.slider-dot-control .slider_label {
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slider-dot-control .slider_label:hover {
  background: #ccc;
  border-color: #777;
}

/* Info Box */
.info {
  position: absolute;
  font-style: italic;
  line-height: 20px;
  opacity: 0;
  color: #000;
  text-align: left;
  -webkit-transform: transition(all 1000ms ease-out 600ms);
          transform: transition(all 1000ms ease-out 600ms);
}

.info.top-left {
  top: 30px;
  left: 30px;
}

.info.top-right {
  top: 30px;
  right: 30px;
}

.info.bottom-left {
  bottom: 30px;
  left: 30px;
}

.info.bottom-right {
  bottom: 30px;
  right: 30px;
}

/* Slider Styling */
.slider-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 4px #666;
          box-shadow: 1px 1px 4px #666;
  background: #fff;
  background: #fcfff4;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform: transition(all 500ms ease-out);
          transform: transition(all 500ms ease-out);
}

.slider-wrapper .inner1 {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform: transition(all 800ms cubic-bezier(0.77, 0, 0.175, 1));
          transform: transition(all 800ms cubic-bezier(0.77, 0, 0.175, 1));
}

/*---- SET POSITION FOR SLIDE ----*/
#slide1:checked ~ .slider-prev-next-control .slider_label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control .slider_label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control .slider_label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control .slider_label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control .slider_label:nth-child(6)::after, #slide6:checked ~ .slider-prev-next-control .slider_label:nth-child(7)::after, #slide7:checked ~ .slider-prev-next-control .slider_label:nth-child(1)::after, #slide2:checked ~ .slider-prev-next-control .slider_label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control .slider_label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control .slider_label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control .slider_label:nth-child(4)::after, #slide6:checked ~ .slider-prev-next-control .slider_label:nth-child(5)::after, #slide7:checked ~ .slider-prev-next-control .slider_label:nth-child(6)::after, #slide1:checked ~ .slider-prev-next-control .slider_label:nth-child(7)::after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin: 0;
  line-height: 38px;
  font-size: 3em;
  display: block;
  color: #777;
}

#slide1:checked ~ .slider-prev-next-control .slider_label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control .slider_label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control .slider_label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control .slider_label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control .slider_label:nth-child(6)::after, #slide6:checked ~ .slider-prev-next-control .slider_label:nth-child(7)::after, #slide7:checked ~ .slider-prev-next-control .slider_label:nth-child(1)::after {
  content: "\f105";
  padding-left: 15px;
}

#slide1:checked ~ .slider-prev-next-control .slider_label:nth-child(2), #slide2:checked ~ .slider-prev-next-control .slider_label:nth-child(3), #slide3:checked ~ .slider-prev-next-control .slider_label:nth-child(4), #slide4:checked ~ .slider-prev-next-control .slider_label:nth-child(5), #slide5:checked ~ .slider-prev-next-control .slider_label:nth-child(6), #slide6:checked ~ .slider-prev-next-control .slider_label:nth-child(7), #slide7:checked ~ .slider-prev-next-control .slider_label:nth-child(1) {
  display: block;
  float: right;
  margin-right: 5px;
}

#slide2:checked ~ .slider-prev-next-control .slider_label:nth-child(1), #slide3:checked ~ .slider-prev-next-control .slider_label:nth-child(2), #slide4:checked ~ .slider-prev-next-control .slider_label:nth-child(3), #slide5:checked ~ .slider-prev-next-control .slider_label:nth-child(4), #slide6:checked ~ .slider-prev-next-control .slider_label:nth-child(5), #slide7:checked ~ .slider-prev-next-control .slider_label:nth-child(6), #slide1:checked ~ .slider-prev-next-control .slider_label:nth-child(7) {
  display: block;
  float: left;
  margin-left: 5px;
}

#slide2:checked ~ .slider-prev-next-control .slider_label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control .slider_label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control .slider_label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control .slider_label:nth-child(4)::after, #slide6:checked ~ .slider-prev-next-control .slider_label:nth-child(5)::after, #slide7:checked ~ .slider-prev-next-control .slider_label:nth-child(6)::after, #slide1:checked ~ .slider-prev-next-control .slider_label:nth-child(7)::after {
  content: "\f104";
  padding-left: 8px;
}

#slide1:checked ~ .slider-dot-control .slider_label:nth-child(1), #slide2:checked ~ .slider-dot-control .slider_label:nth-child(2), #slide3:checked ~ .slider-dot-control .slider_label:nth-child(3), #slide4:checked ~ .slider-dot-control .slider_label:nth-child(4), #slide5:checked ~ .slider-dot-control .slider_label:nth-child(5), #slide6:checked ~ .slider-dot-control .slider_label:nth-child(6), #slide7:checked ~ .slider-dot-control .slider_label:nth-child(7) {
  background: #333;
}

#slide1:checked ~ .slider-wrapper .slider_img:nth-child(1) .info, #slide2:checked ~ .slider-wrapper .slider_img:nth-child(2) .info, #slide3:checked ~ .slider-wrapper .slider_img:nth-child(3) .info, #slide4:checked ~ .slider-wrapper .slider_img:nth-child(4) .info, #slide5:checked ~ .slider-wrapper .slider_img:nth-child(5) .info, #slide6:checked ~ .slider-wrapper .slider_img:nth-child(6) .info, #slide7:checked ~ .slider-wrapper .slider_img:nth-child(7) .info {
  opacity: 1;
}

#slide1:checked ~ .slider-wrapper .inner1 {
  margin-left: 0%;
}

#slide2:checked ~ .slider-wrapper .inner1 {
  margin-left: -100%;
}

#slide3:checked ~ .slider-wrapper .inner1 {
  margin-left: -200%;
}

#slide4:checked ~ .slider-wrapper .inner1 {
  margin-left: -300%;
}

#slide5:checked ~ .slider-wrapper .inner1 {
  margin-left: -400%;
}

#slide6:checked ~ .slider-wrapper .inner1 {
  margin-left: -500%;
}

#slide7:checked ~ .slider-wrapper .inner1 {
  margin-left: -600%;
}

/*---- TABLET ----*/
@media only screen and (max-width: 850px) and (min-width: 450px) {
  .slider-wrapper {
    border-radius: 0;
  }
}

/*---- MOBILE----*/
@media only screen and (max-width: 450px) {
  .slider-wrapper {
    border-radius: 0;
  }
}

.our-team {
  padding: 30px 0 40px;
  background: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .pic {
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .pic:before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background: #ee4266;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.2;
  -webkit-transform: scale(3);
          transform: scale(3);
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.our-team:hover .pic:before {
  height: 100%;
}

.our-team .pic:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ee4266;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.our-team:hover .pic img {
  -webkit-box-shadow: 0 0 0 14px #f7f5ec;
          box-shadow: 0 0 0 14px #f7f5ec;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.our-team .team-content {
  margin-bottom: 30px;
}

.our-team .title {
  font-size: 22px;
  font-weight: 700;
  color: #4e5052;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.our-team .post {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #eb1768;
  position: absolute;
  bottom: -100px;
  left: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.our-team .social li a:hover {
  color: #eb1768;
  background: #f7f5ec;
}

@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 30px;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 700px;
          flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.screen-body-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  -webkit-transition: border-color .2s;
  transition: border-color .2s;
}

.app-form-control::-webkit-input-placeholder {
  color: #666;
}

.app-form-control:-ms-input-placeholder {
  color: #666;
}

.app-form-control::-ms-input-placeholder {
  color: #666;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .screen-body-item.left {
    margin-bottom: 30px;
  }
  .app-title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .app-title span {
    margin-right: 12px;
  }
  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }
  .screen-body-item {
    padding: 0;
  }
}

.contact-form {
  background: #d7eaea;
}

.demo {
  background: #034748;
}

.testimonial {
  margin: 50px 30px 30px 30px;
  text-align: center;
  position: relative;
}

.testimonial .description {
  padding: 30px;
  margin-bottom: 80px;
  border-left: 1px solid #fff;
  font-size: 15px;
  color: #fff;
  line-height: 33px;
  position: relative;
}

.testimonial .description:before,
.testimonial .description:after {
  content: "";
  width: 20%;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.testimonial .description:after {
  top: auto;
  bottom: 0;
}

.testimonial .title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 15px 0;
  position: relative;
}

.testimonial:before,
.testimonial .title:before {
  content: "";
  width: 1px;
  height: 50px;
  background: #fff;
  margin: 0 auto;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
}

.testimonial .title:before {
  top: -80px;
}

.testimonial .pic {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.testimonial .pic img {
  width: 100%;
  height: auto;
}

.owl-theme .owl-controls {
  margin-top: 0;
}

.owl-theme .owl-controls .owl-page span {
  width: 10px;
  height: 10px;
  border-radius: 0;
  background: #000;
  outline: 2px solid #000;
  outline-offset: 2px;
  margin-right: 8px;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.owl-theme .owl-controls .owl-page.active span {
  background: #fff;
  outline: 2px solid #fff;
}
/*# sourceMappingURL=theslides.css.map */